<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" (click)="handleNavClick('home')">EDU-SPARK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="handleNavClick('home')" [ngClass]="{'active': activeTab === 'home'}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="handleNavClick('courses')" [ngClass]="{'active': activeTab === 'courses'}">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="handleNavClick('about-us')" [ngClass]="{'active': activeTab === 'about-us'}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="handleNavClick('contact-us')" [ngClass]="{'active': activeTab === 'contact-us'}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="handleNavClick('reviews')" [ngClass]="{'active': activeTab === 'reviews'}">Reviews</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <!-- <app-home *ngIf="activeTab === 'home'"></app-home>
  <app-courses *ngIf="activeTab === 'courses'"></app-courses>
  <app-about-us *ngIf="activeTab === 'about-us'"></app-about-us>
  <app-contact-us *ngIf="activeTab === 'contact-us'"></app-contact-us>
  <app-reviews *ngIf="activeTab === 'reviews'"></app-reviews> -->
  <router-outlet></router-outlet>
</div>